@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: url('/background.jpg') no-repeat center center;
  background-size: cover;
}

.square {
  background: white;
  border: 1px solid grey;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.board-row {
  display: flex;
  color: red;
}

.game-board {
  padding: 40px;
  border-radius: 40px;
  width: 250px; /* Adjust width to fit your board */
  height: 150px; /* Adjust height to fit your board */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items at the bottom */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background for better readability */
  margin-top: 300px;
}